<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <link rel="shortcut icon" type="image/png" >
  {{#no_cache}}
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="-1">
  {{/no_cache}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{title}} - {{subtitle}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style type="text/css">
   
    body {
      padding-top: 0px;
      padding-bottom: 10px;
      font-family: georgia,serif;
      
    }

    /* Custom container */
    .container-narrow {
      margin: 0 auto;
      max-width: 640px;
    }
    .container-narrow > hr {
      margin: 30px 0;
    }
    .masthead {
      color: #ddd;
    }
    .masthead .nav {
      margin-top: 24px;
      padding: 0px;
    }
    /* Main marketing message and sign up button */
    .jumbotron {
      margin: 20px 0;
      text-align: center;
      color: #983;
      font-size: 0px;
    }
     .jumbotron h1 {
      font-size: 0px;
      font-weight: normal;
      line-height: 1;
      margin-top: 0px;
      margin-bottom: 6px;
      color: #999;
    }
    hr{
		border-top:0px solid #eee;
		border:none;
		}
    
     /* changed by declan */
    .jumbotron .lead {
      color: #983;
      line-height: 1;
      font-size: 0px;
    }
    .jumbotron .btn {
      padding: 14px 24px;
    }
    .jumbotron .hint {
      font-style: italic;
      font-size: 0px;
    }
    
    .jumbotron .more {
		font-size: 0px;
    }
    .jumbotron .more a {
      color: #111;
    }
    .SHARESECRET{
	width:680px;
	margin-right:40px;
    -webkit-font-smoothing: antialiased;
    background-color: #5872c9!important;
    background-repeat: repeat-x;
    background-image: none;
    color: #fff!important;
    border-color: #b04420 #b04420 hsl(15,69%,41%);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.00);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
     font-family:Helvetica Neue",Helvetica,Arial,sans-serif;
   


	}
	.share-a-secret{
     font-size: 25px;	
     font-family:Helvetica Neue",Helvetica,Arial,sans-serif;
     padding-left:400px;

    
	}
	.mail{
		padding-top:10px;
		text-align: center;
		
		
		
		}

	.input-block-level{
		margin-left:40px;
		
		}

    /* Supporting marketing content */
    .marketing {
      margin: 20px 0;
    }
    #logo {
      background-image: url('/img/Conlogo.png');
      display: inline-block;
      width: 325px;
      height: 50px;
      margin-left:60em;
    }
    @media (min-width: 481px) {
      #contentTab {
        margin-top: 20px;
      }
    }
    /* Landscape phones and down */
    @media (max-width: 480px) {
      body {
        }
      #logo {
        background-image: url('/img/logo-36.png');
        display: inline-block;
        width: 36px;
        height: 36px;
      }
      .masthead .nav {
        margin-top: 18px;
        padding: 0px;
      }
      .jumbotron {
        marginoptions: 0px 0;
      }
      .jumbotron h1 {
        letter-spacing: -1px;
        display: none;
      }
      color: #ffffff;
    font-size: 22px;
    background-color: #5872c9;
    padding: 9px 10px 9px 10px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    height: 40px;
}
.col-xs-offset-2 {
    margin-left: 16.666666666666664%;
}
.col-xs-8 {
    width: 66.66666666666666%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.text-center {
    text-align: center;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.control-group{
	margin-left:60px;
	margin-right:40px;
	}
	
	
	
	
	
	
user agent stylesheet
div {
    display: block;
}
.controls{
    margin-left:30px;	
	
	}
html, body {
    height: 100%;
    font-family: Verdana;
    /* font-size: 12px; */
}
well options-box{
	margin-left:10px;
	padding-right:20px;	
	}
.textarea{
	margin-left:20px;
	
	}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
html, body {
    height: 100%;
    font-family: Verdana;
    /* font-size: 12px; */
}
share-a-secret{
	 font-size: 62.5%;
	}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .control-label lighter{
		text-align:left;
		padding:10px;
		
		}
   
  </style>
  <script src="/js/vendor/cufon-yui.js" type="text/javascript"></script>
  <scontrol-label lightercript src="/js/vendor/officina.font.js" type="text/javascript"></script>
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" >
  <link href="/css/alertify.css" rel="stylesheet">
  <link href="/css/main.css?{{ot_version_id}}" rel="stylesheet">
  {{#css}}
  <link href="{{to_s}}" media="screen" rel="Stylesheet" type="text/css" />
  {{/css}}
  <script type="text/javascript">
  {{#jsvars}}
    var {{name}} = {{{value}}};
  {{/jsvars}}
  </script>
  <script src="/js/vendor/jquery-1.9.0.min.js"></script>

  <!-- <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> -->
</head>
          
<body id="{{body_class}}">
<h4 id = "logo">



</h4>
<div class="container-narrow">
	 <div class="SHARESECRET">
			<h1 class="share-a-secret">Share A Secret</h1>
	</div>

  <div class="masthead">
    <div class="nav pull-right">
		
    {{#display_masthead}}
 {{^authenticated}}
        {{#is_subdomain}}
      
        {{/is_subdomain}}
        {{^is_subdomain}}
        <!--<a href="{{baseotsuri}}/signup" title="Signup - Individual and Business plans" class="active">{{i18n.COMMON.header_create_account}}</a> |   COMMENTED OUT BY DECLAN-->
        <!--<a href="{{baseotsuri}}/about" title="About One-Time Secret">{{i18n.COMMON.header_about}}</a> |     COMMENTED OUT BY DECLAN-->
        <!--<a href="{{baseotsuri}}/login" title="Log in to One-Time Secret">{{i18n.COMMON.header_sign_in}}</a>  COMMENTED OUT BY DECLAN-->
        {{/is_subdomain}}
      {{/authenticated}}
      
      {{#authenticated}}
        <a href="/" class="home">{{cust.custid}}</a> {{#colonel}}<a href="{{baseotsuri}}/colonel/" title="" class="nounderline">*</a>{{/colonel}} |
       
      {{/authenticated}}

      {{^is_default_locale}}
      | <a href="?locale={{i18n.default}}" title="View site in {{i18n.default}}">{{i18n.default}}</a>
      {{/is_default_locale}}

    {{/display_masthead}}
   






<!--create secret form mustache-->

<form id="createSecret" method="post" autocomplete="off" class="form-horizontal">
  {{{add_shrimp}}}
  <fieldset>
    <div class="text-input">
      <textarea rows="7" class="btn-block" name="secret" autocomplete="off" placeholder="{{i18n.COMMON.secret_placeholder}}"></textarea>

    </div>
 {{#display_options}}
    <div class="well options-box">
      <div class="title">{{i18n.COMMON.secret_privacy_options}}</div>
      
      
      
      
      <!--CHANGED BY DECLAN NEED TO BE SENDER AND RECIPEINT EMAILS-->
      
    <div class="control-group">
      
		   <label class="control-label lighter" for="passphraseField">My Email:</label>
		   
			   <div class="controls">
				 <input class="input-block-level" type="text" name="passphrase"  />
			  </div>
			  
		   <label class="control-label lighter" for="passphraseField">Recipient Email:</label>
		   
			   <div class="controls">
				 <input class="input-block-level" type="text" name="passphrase"  />
			  </div> 
		   
		   <label class="control-label lighter" for="passphraseField">Shared Secret Link:</label>
			
			  <div class="controls">
			      <input id="secreturi" class="input-block-level" value="{{share_uri}}" readonly="readonly" />
			  </div>
			   
			   <div class = "mail">
			       <button type="button">Send Email!</button>
			  </div>
    </div>		
       {{#display_recipients}}
 <div class="control-group">
        <label class="control-label lighter" for="recipientField">{{i18n.COMMON.secret_recipient_address}}:</label>
					<div class="controls">
					  <input class="input-block-level" type="text" name="recipient[]" id="recipientField" value="" placeholder="example@onetimesecret.com" autocomplete="off" />
					</div>
      </div>
      {{/display_recipients}}
      <div class="control-group">
        <label class="control-label lighter" for="recipientField">Lifetime:</label>
        <div class="controls">
          <select name="ttl" class="span3">
            {{#expiration_options}}
            <option value="{{value}}" {{#default}}selected{{/default}}>{{name}}</option>
            {{/expiration_options}}
          </select>
        </div>
      </div>
    </div>
    </div>
    {{/display_options}}
    <button class="create btn btn-large btn-block btn-custom cufon" type="submit" name="kind" value="share" >{{i18n.COMMON.button_create_secret}}{{^authenticated}}*{{/authenticated}}</button>
  </fieldset>
</form>
<script type="text/javascript">
$('#createSecret textarea').on('keyup', function () {
  var max = {{plan.options.size}};
  var len = $(this).val().length;
  var obj = $('#createSecret .chars-display');
  if (len > max && obj.hasClass('lightest')) {
    obj.removeClass('lightest');
    obj.addClass('warning-text');
  } else if (len <= max && obj.hasClass('warning-text')) {
    obj.removeClass('warning-text');
    obj.addClass('lightest');
  }
  var char = max - len;
  obj.text(char);
  var sub = $('#createSecret .generate');
  if (len > 0 && !sub.attr('disabled')) {
    sub.attr('disabled', true);
  }
  if (len == 0) {
    sub.attr('disabled', false);
  }
});
</script>
 </div> 
 
 
 
 
 
<?php

								
	//$myMail = $_post['myMail'];
	//$mail = $_post['mail'];  #recipient mail
	//$msg = $_post['msg'];
	
	use PHPMailer\PHPMailer\PHPMailer;
    use PHPMailer\PHPMailer\Exception;
    require 'vendor/autoload.php';
    composer require phpmailer/phpmailer
    composer require league/oauth2-google
    require 'PHPMailerAutoload.php';
	
	$mail = new PHPMailer(true);                              // Passing `true` enables exceptions
try {
    //Server settings
    $mail->SMTPDebug = 3;                                 // Enable verbose debug output
    $mail->isSMTP();                                      // Set mailer to use SMTP
    $mail->Host = 'smtp.gmail.com';                       // Specify main and backup SMTP servers
    $mail->SMTPAuth = true;                               // Enable SMTP authentication
    $mail->Username = 'deckobucko@gmail.com';             // SMTP username
    $mail->Password = 'secret';                           // SMTP password
    $mail->SMTPSecure = 'tls';                            // Enable TLS encryption, `ssl` also accepted
    $mail->Port = 25;                                     // TCP port to connect to

      //Sender
    $mail->setFrom('deckobucko@gmail.com', 'Mailer');
     
     //Recipients
    $mail->addAddress('deckobucko@gmail.com', 'Joe User');     // Add a recipient
   
    $mail->addReplyTo('deckobucko@gmail.com', 'Information');
    //$mail->addCC('cc@example.com');
    //$mail->addBCC('bcc@example.com');

    //Attachments
    //$mail->addAttachment('/var/tmp/file.tar.gz');         // Add attachments
    //$mail->addAttachment('/tmp/image.jpg', 'new.jpg');    // Optional name

    //Content
    $mail->isHTML(true);                                  // Set email format to HTML
    $mail->Subject = 'Here is the subject';
    $mail->Body    = 'This is the HTML message body <b>in bold!</b>';
    $mail->AltBody = 'This is the body in plain text for non-HTML mail clients';

    $mail->send();
    echo 'Message has been sent';
} catch (Exception $e) {
    echo 'Message could not be sent. Mailer Error: ', $mail->ErrorInfo;
}
					
								
								
								
								
								
								
								
								//#if(isset($_POST["SubmitBtn"])){

								//#$to = "someone@example.com";
								//#$subject = "Contact mail";
								//#$from=$_POST["email"];
								//#$msg=$_POST["msg"];
								//#$headers = "From: $from";
			                    //#mail($to,$subject,$msg,$headers);
								//#echo "Email successfully sent.";
//#}
?>

<form  method="post" action="" >
<table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<tr>
  <td colspan="2"><strong>Online Contact Form</strong></td>
</tr>
<tr>
  <td>E-mail :</td>
  <td><input name="email" type="text" id="email"></td>
</tr>
<tr>
  <td>Message :</td>
  <td>
  <textarea name="msg" cols="45" rows="5" id="msg"></textarea>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><input type="submit" value="Submit"></td>
</tr>
</table>
</form>
